doctype html
html
    head

    body
        h3 Sign In Form
        -var url="/UserHomeMenu/";
        form(name="LoginForm" method='POST' action="/UserHomeMenu/")
           
            label(for='useremail') UserEmail:
            input(type="email", name='useremail')
            br
            br
            label(for='password') Password:
            input(name = "password" type='password')
            br
            br
            button.btn.btn-primary(type='submit') Login
            
            
        h3 Sign Up Form
        form(name="SignUpForm" method='POST' action='/home/UserHasSignedUp')      
            label(for='newEmail') Username:
            input(type="email", name='newEmail')
            br
            br
            label(for='newPassword') Password:
            input(name = "newPassword" type='password')
            br
            br
            button.btn.btn-primary(type='submit') Sign Up

        h3 #{SignUpMessage}
        