doctype html
html
    head
    body
        h2 Signed in as: #{Signed_in_User}
        button.btn.btn-primary(type='submit') Tasks
        br
        br
        form(action="/home/UserHasSignedOut" method='POST')
            button.btn.btn-primary() Sign out